* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 24px;
}

#add-button {
  width: min-content;
  height: min-content;
  padding: 6px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#add-button:hover {
  cursor: pointer;
  background-color: #218838;
}

#add-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

#message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 16px;
  transition: all 0.3s ease;
}

.message-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.message-box:hover {
  transform: translateY(-1.6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  top: 4px;
  right: 40px;
  background-color: #b30006;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 3.2px 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
}

.copy-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 3.2px 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
}

.copy-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.delete-btn:hover {
  background-color: #a30002;
  transform: scale(1.05);
}


.message-box p {
  margin-top: 10px;
  color: #333;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.message-box:hover p {
  color: #555;
}

@media (max-width: 768px) {
  #message-container {
    flex-direction: column;
    align-items: center;
  }

  .message-box {
    width: 90%;
  }

  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .copy-btn,
  .delete-btn {
    font-size: 0.9rem;
  }

  .message-box p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .message-box {
    width: 95%;
  }

  body {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .copy-btn,
  .delete-btn {
    font-size: 0.8rem;
  }

  .message-box p {
    font-size: 0.8rem;
  }
}